.page {
	font-family: Arial;
	font-size: 16px;
}

.header__text1 {
	font-size: 1.6rem;
	text-align: center;
}

.header__text2 {
	font-size: 1.4rem;
	text-align: center;
}

.page__rendering-block{
	margin: 0 auto;
	min-width: 640px;
	width: 70vw;
}

.object-render__key-name, .object-render__bracket {
	font-weight: bold;
}


.object-render__object-block {
	margin-left: 2.4rem;
	position: relative;
}

.object-render__bracket_hidden, .object-render__object-block_collapsed {
	display: none;
}

.object-render__key-line {
	margin: .2rem;
}

.object-render__key-name_extended, .object-render__key-name_collapsed {
	font-weight: bold;
}

.object-render__key-name_extended::before{
 color: #11bb11;
 content:"\2B07";
 margin-left:-1rem;
 margin-right: .2rem;
}

.object-render__key-name_collapsed::before{
 color: #ee1111;
 content:"\27A4";
 margin-left:-1rem;
 margin-right: .2rem;
}
